extends base

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Name",name="name", required, type="text", value=loggedInUser.name)
        input(placeholder="Email", type="email", name="email", required, value=loggedInUser.email)
        input(placeholder="Username",name="username", required, type="text", value=loggedInUser.username)
        input(placeholder="Location",name="location", required, type="text", value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Password &rarr;